/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFF;

    /* Default values */
    /* font-size: 16px;
      font-weight: 400;
      font-style: normal;
      color: black;
      background-color: white; */
}

img {
    display: block;
}

a {
    color: currentColor;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
button {
    font-family: inherit;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

/* хедер */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    margin-right: 76px;
}


.header-logo-dark {
    color: #2E2F42;
}
.header-list {
    display: flex;
    gap: 40px;
}


.header-item {
    margin-right: 40px;

    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.header-item:last-child {
    
}

.header-link:hover,
.header-link:focus {
    color: #404bbf;
}
.header-link {
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
    position: relative;
}

.header-link.active::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    left: 0;
    bottom: -1px;
}

.address {
    font-style: normal;
    
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-item {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.address-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* основний контент */
/* секція 1 solution */

.solution {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/header-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;

}

.solution-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    
}

.solution-button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    align-items: center;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.solution-button:hover,
.solution-button:focus {
    background-color: #404BBF;
}

/* секція 2 feature */

.feature {
    padding: 120px 0;
}
.feature-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.feature-title,
.team-title,
.portfolio-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.feature-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.feature-item {
    width: 264px;
}

.feature-item-title,
.team-item-title,
.portfolio-item-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feature-item-text,
.team-item-text,
.portfolio-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.feature-item-title {
    margin-bottom: 8px;
}

/* секція 3 Our Team */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px
}
.team-title {
    margin-bottom: 72px;
}

.team-item-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
}

.team-item {
    background-color: #FFF;
    width: calc((100% - 24px)* 3) / 4;
    padding-bottom: 32px;
    margin-bottom: 120px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);;
    
}
.team-item:first-child {
    border-radius: 0px 0px 4px 4px;
}

.team-container {
    padding-top: 32px;
    padding-bottom: 32px;
}



.team-item-img {
    width: 264 px;
}

.team-item-text {
    text-align: center;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;

}

.social-item {
    width: 40px;
    height: 40px;

}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-icon {
    fill: currentColor;

}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}




/* секція 4 Our Portfolio */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-title {
    margin-bottom: 72px;

}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    width: calc((100% - 24px)* 3) / 4;
    margin-bottom: 120px;
    border: 1px solid #E7E9FC;
}
.portfolio-item:first-child {
    width: calc((100% - 48px) / 3);
}

.portfolio-item:hover {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item-img {
    width: 360px;
}
.container-portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item-title {
    margin-bottom: 8px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}

.portfolio-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-item .overlay {
    transform: translateY(0%);
    transition: transform;
}

/* футер */

.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-logo-light {
    color: #F4F4FD;
}

.social-box {
    display: block;


}

.container-footer {
    display: flex;
    background-color: #2E2F42;
    align-items: baseline;
}
.footer-social-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.box-logo-footer {
    margin-right: 120px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.social-link-footer {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color:#31d0aa;
}